$regularfont:'PFHandbookPro-Regular';
$mediumfont:'PFHandbookPro-Medium';
$brandcolor:#C7222A;
$backhome:#caaa7c;
$rightarrow:'arrow.svg';
$gray_bg:#f5f6f7;
$black_bg:#000000;
$white_bg:#ffffff;
$shadow: 0px 5px 5px #dadada;
.steps_heading {
    font-size: 27px;
    font-family:$regularfont;
    color:$black_bg;
}
